*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

h1,h2,h3,h4,h5{
    font-family:"Merriweather";
}
p{
    font-family:"Roboto Slab"
}

.navigation{
    height: 12vh;
}
.main{
    height: 88vh;
}

.my-button{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
}

#root{
    background-color:#f4f4f4;
}